<!doctype html>
    html
        .head
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            link(href="styles/main.css",rel="stylesheet")
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&display=swap" rel="stylesheet">

        .body
            include sections/login.pug
            include sections/functions.pug
            include sections/network.pug
            include sections/main-layout.pug
            script(src="/js/script.js")