.functions
    .functions__navigation
        .functions__navigation_item.home
            img(alt="icon" src="./img/home.svg")
        .functions__navigation_item
            img(alt="icon" src="./img/house.svg")
        .functions__navigation_item
            img(alt="icon" src="./img/grafics.svg")
        .functions__navigation_item.navigation
            img(alt="icon" src="./img/navigation.svg")
        .functions__navigation_item
            img(alt="icon" src="./img/network.svg")
        .functions__navigation_item
            img(alt="icon" src="./img/notice.svg")
        .functions__navigation_item.exit
            img(alt="icon" src="./img/exit.svg")
    .functions__content
        .functions__content__header
            .functions__content__header_left
                .functions__content__header_left_clock
                    .clock#clock 00
                    .clock_con :
                    .clock_min#clock_min 00
                .functions__content__header_left_day
                    .day#day
                    .functions__content__header_left_date
                        .date#date
                        .month#month
            .functions__content__header_right
                .functions__content__header_right_title ID контроллера: 0FB63A1A0000
                .functions__content__header_right_text Версия прошивки: v 5.13.18
        .functions__content__heading
            .functions__content__heading_left Функции
            <button class="functions__content__heading_right">Добавить</button>
        .functions__content__prewiew
            .functions__content__prewiew_item
                .functions__content__prewiew_item_title Функция №001
                .functions__content__prewiew_item_edit
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/rename.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/delete.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/Drop.svg")
            .functions__content__prewiew_item
                .functions__content__prewiew_item_title Функция №002
                .functions__content__prewiew_item_edit
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/rename.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/delete.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/Drop.svg")
            .functions__content__prewiew_item
                .functions__content__prewiew_item_title Функция №003
                .functions__content__prewiew_item_edit
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/rename.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/delete.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/Drop.svg")
            .functions__content__prewiew_item
                .functions__content__prewiew_item_title Функция №004
                .functions__content__prewiew_item_edit
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/rename.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/delete.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/Drop.svg")
            .functions__content__prewiew_item
                .functions__content__prewiew_item_title Функция №005
                .functions__content__prewiew_item_edit
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/rename.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/delete.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/Drop.svg")
            .functions__content__prewiew_item
                .functions__content__prewiew_item_title Функция №006
                .functions__content__prewiew_item_edit
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/rename.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/delete.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/Drop.svg")
            .functions__content__prewiew_item
                .functions__content__prewiew_item_title Функция №007
                .functions__content__prewiew_item_edit
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/rename.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/delete.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/Drop.svg")
            .functions__content__prewiew_item
                .functions__content__prewiew_item_title Функция №008
                .functions__content__prewiew_item_edit
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/rename.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/delete.svg")
                    img.functions__content__prewiew_item_edit_icon(alt="icon" src="./img/Drop.svg")



            
