.login
    .login__content
        .login__content__logo
            img.login__content__logo_item(alt="icon" src="./img/login__logo.svg")
        .login__content__title Вход в систему
        .login__content__prewiew
            <input class="search login__content__prewiew_item" value="Admin ">
            <input class="search login__content__prewiew_item" value="Пароль">
        .login__content__button 
            <a href="source/pages/sections/functions.pug"><button class="submit login__content__prewiew_button">Войти</button>
        <label>
            <input type="checkbox"/>Запомнить меня
